<div class="navbar">
  <a href="/" class="navitem">Home</a>
  <a href="/how-it-works" class="navitem">How it works</a>
  <a href="/about" class="navitem">About</a>
  <a href="/login-signup" class="navitem">Login/Signup</a>
</div>
