<div class="navbar">
  <a href="/" class="navitem">
    <i class="material-icons">home</i>
    <h6>Home</h6>
  </a>

  <a href="/how-it-works" class="navitem">
    <i class="material-icons">dehaze</i>
    <h6>How it works</h6>
  </a>

  <a href="/about" class="navitem">
    <i class="material-icons">insert_chart</i>
    <h6>About</h6>
  </a>

  <a href="/login-signup" class="navitem">
    <i class="material-icons">vpn_key</i>
    <h6>Login/Signup</h6>
  </a>
</div>
