<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medi-lytics</title>
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="stylesheet" href="/css/partials/navbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <div class="container">
      <div class="chart sectionDiv welcomeScreen" data-aos="fade">
        <div class="chart-explanation">
          <h1>About</h1>
          <h3>What we are trying to achieve and why?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
            ipsam autem delectus animi nulla nam commodi asperiores, blanditiis
            ut repellendus vel sequi et laboriosam nesciunt soluta eum cum
            obcaecati quibusdam amet enim voluptates assumenda? Laboriosam
            officiis eaque accusantium ullam reprehenderit possimus vero nemo,
            alias dignissimos ab soluta, ratione animi quibusdam itaque nihil
            et. Unde adipisci praesentium accusantium? Saepe cum at repellat
            tempore repellendus velit, recusandae provident. Recusandae sint,
            explicabo natus totam nesciunt nihil ut. Inventore, vero
            necessitatibus doloremque at adipisci iure quis molestias atque
            blanditiis illo a, qui eveniet. Voluptatibus soluta obcaecati ab
            inventore tenetur fugiat dolore in rem sed!
          </p>
          (*the data used here is just imaginary and does not relate with any
          real life situation)
        </div>
        <!-- <div class="chart-itself image-div">
          <p>*image here</p>
          <img src="" alt="" />
        </div> -->
      </div>
      <div class="sectionDiv chart">
        <div class="chart-explanation" data-aos="fade">
          <h1>Impact from various Ethnic groups</h1>
          <p>
            This graph shows the contribution of various ethnic groups towards
            medical inadherence. Graph is scaled down to represent the number of
            patients who didn't adhered to the medication out of every 100
            patients of that ethinicity.
          </p>
        </div>
        <div class="chart-itself" data-aos="fade">
          <canvas id="raceChart"></canvas>
        </div>
      </div>
      <div class="sectionDiv chart">
        <div class="chart-explanation" data-aos="fade">
          <h1>Which ages contribute the most?</h1>
          <p>
            This graph compares the number of people who dropped their
            medication before time and thir ages. The graph clearly shows that
            young-aged people (24-40 years) are highest contributors. This can
            be attributed to the fast paced lifestyle and negligence towards
            health of youth.
          </p>
        </div>
        <div class="chart-itself" data-aos="fade">
          <canvas id="ageChart"></canvas>
        </div>
      </div>
      <div class="sectionDiv chart">
        <div class="chart-explanation" data-aos="fade">
          <h1>Which cities are highest contributors</h1>
          <p>
            As the graph shows, Boston surprisingly has the highest number of
            medical defaulters, with no one even near it.
          </p>
        </div>
        <div class="chart-itself" data-aos="fade">
          <canvas id="cityChart"></canvas>
        </div>
      </div>
      <div class="sectionDiv chart">
        <div class="chart-explanation" data-aos="fade">
          <h1>Gender Factor</h1>
          <p>
            This doughnut chart shows the distribution of defaulters on basis of
            gender. The readings show that women have a higher rate of leaving
            medication before the prescribed time as compared to men.
          </p>
        </div>
        <div class="chart-itself gender-chart-itself" data-aos="fade">
          <canvas id="genderChart"></canvas>
        </div>
      </div>
    </div>

    <%- include("partials/navbar.ejs") %>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        delay: 100, // values from 0 to 3000, with step 50ms
        duration: 700, // values from 0 to 3000, with step 50ms
        once: false, // whether animation should happen only once - while scrolling down
        mirror: true, // whether elements should animate out while scrolling past them
      })
      console.log("AOS init")
      var jsonData = <%- JSON.stringify(data) %>
    </script>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/scripts/race-chart.js"></script>
  <script src="/scripts/gender-chart.js"></script>
  <script src="/scripts/city-chart.js"></script>
  <script src="/scripts/age-chart.js"></script>
</html>
