<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medi-lytics</title>
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/partials/navbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body>
    W <%- include("partials/navbar.ejs") %>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", init, false);
    function init() {
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/service-worker.js").then(
          (reg) => {
            console.log("Service worker registered -->", reg);
          },
          (err) => {
            console.error("Service worker not registered -->", err);
          }
        );
      }
    }
  </script>
</html>
