<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medi-lytics</title>
    <link rel="stylesheet" href="/css/how-it-works.css" />
    <link rel="stylesheet" href="/css/partials/navbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="sectionDiv">
        <h1>How it works?</h1>
        <h3>Lets explore how this app works</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum
          facilis, quod, eaque atque, expedita nesciunt unde fugit architecto
          tempora perferendis a eius numquam fuga possimus deleniti illum sed
          similique accusamus praesentium! Sint hic cumque aut tempora
          asperiores impedit at tempore?
        </p>
        <p>*For more detailed explanation, see <a href="#">here</a></p>
      </div>
      <div class="sectionDiv">
        - patients - Can upload bill copies on time for insurance credits -
        Comeback each day (at req time) to confirm medicine intake for little
        credits - doctors - Add patient → sends a request to patient to be
        accept - After approval, doctor can see all ongoing medication (in case
        of polypharmacy) + medical history and create a suitable prescription
        plan accordingly. - Confirm if patient visited on time
      </div>
    </div>

    <%- include("partials/navbar.ejs") %>
  </body>
</html>
