<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medi-lytics</title>
    <link rel="stylesheet" href="/css/how-it-works.css" />
    <link rel="stylesheet" href="/css/partials/navbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <div class="container">
      <div class="sectionDiv" data-aos="fade">
        <h1>How it works?</h1>
        <h3>Lets explore how this app works</h3>
        <p>
          Medico is an app designed for both patients, and doctor. It helps
          lower the possibility of medical inadherence, which is one of the main
          reasons behind not getting well even after the full treatment. With
          this app, you can also earn credit for taking your medications
          properly on time and refill them on time.
        </p>
        <p>*For more detailed explanation, see <a href="#">here</a></p>
      </div>
      <div>
        <!-- - patients - Can upload bill copies on time for insurance credits -
        Comeback each day (at req time) to confirm medicine intake for little
        credits - doctors - Add patient → sends a request to patient to be
        accept - After approval, doctor can see all ongoing medication (in case
        of polypharmacy) + medical history and create a suitable prescription
        plan accordingly. - Confirm if patient visited on time -->

        <div class="step Aleft" data-aos="fade-up">
          <div>
            <img src="/images/signup.svg" alt="" />
            <p>You created an account here</p>
          </div>
        </div>

        <div class="step Aright" data-aos="fade-up">
          <div>
            <img src="/images/search.svg" alt="" />
            <p>
              Your doctor can now easily find you and see your medical history.
              Doctor can then issue better prescription, lowering chances of drug
              duplications / side effects
            </p>
          </div>
        </div>

        <div class="step Aleft" data-aos="fade-up">
          <div>
            <img src="/images/messages.svg" alt="" />
            <p>
              Prescriptions and appointments added by the doctor show up on your
              home screen
            </p>
          </div>
        </div>

        <div class="step Aright" data-aos="fade-up">
          <div>
            <img src="/images/confirm.svg" alt="" />
            <p>
              Now everytime when you confirm a medicine intake or uploading your
              medical bills on time you earn points (Don't worry, we will remind
              you.)
            </p>
          </div>
        </div>

        <div class="step Aleft" data-aos="fade-up">
          <div>
            <img src="/images/buy.png" alt="" />
            <p>
              Later you can reedem these points to enjoy medical discounts and
              insurance benefits.
            </p>
          </div>
        </div>

        <div class="step" style="justify-content: center" data-aos="fade-up">
          <div>
            <img src="/images/checklist.png" alt="" />
            <p>Start living healthily and smartly.</p>
            <a class="waves-effect waves-light btn" href="/login-signup">Sign up today</a>
          </div>
        </div>
      </div>
    </div>

    <%- include("partials/navbar.ejs") %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        delay: 100, // values from 0 to 3000, with step 50ms
        duration: 700, // values from 0 to 3000, with step 50ms
        once: false, // whether animation should happen only once - while scrolling down
        mirror: false, // whether elements should animate out while scrolling past them
      });
      console.log("AOS init");
    </script>
  </body>
</html>
