<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="/css/login-signup.css" />
    <title>Sign in & Sign up Form</title>
</head>

<body>
    <div class="page-content">
        <div class="container">
            <div class="forms-container">
                <div id="particles-js" style="min-height: 100vh;">
            </div>
            <div class="signin-signup">
                <form action="#" class="sign-in-form" onsubmit="signInfunc();return false">
                    <h2 class="title">Sign in</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="username" placeholder="Name" required id="signIn_username" />

                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" id="signIn_password" />
                    </div>
                    <div class="input-checkbox">
                        <i class="fas fa-stethoscope"> Are you a doctor?</i>
                        <input type="checkbox" id="signIn_isDoctor" />
                    </div>
                    <input type="submit" value="Login" class="btn solid" id="signIn_btn"/>

                </form>
                <form class="sign-up-form" onsubmit="signUpfunc();return false">
                    <h2 class="title">Sign up</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Full Name" id="signUp_username" required />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="email" placeholder="Email" required pattern="\S+@\S+" id="signUp_email" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" required minlength="6" id="signUp_password" />
                    </div>
                    <div class="input-checkbox">
                        <i class="fas fa-stethoscope"> Are you a doctor?</i>
                        <input type="checkbox" id="signUp_isDoctor" />
                    </div>
                    <input type="submit" value="Sign Up" class="btn solid" id="signUp_btn"/>

                </form>
            </div>
    </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <p>Not a member ?</p>
                    <button class="btn transparent" id="sign-up-btn">
                        Sign up
                    </button>
                </div>
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <p>Already a member ?</p>
                    <button class="btn transparent" id="sign-in-btn">
                        Sign in
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/login-signup.js"></script>
</body>
</html>