/* 
font-family: "Cormorant Garamond", serif;
font-family: "Ubuntu", sans-serif;
font-family: "Mitr", sans-serif;
 */

.sectionDiv {
  height: 110vh;
}

/* .chart:nth-child(odd) {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.chart:nth-child(even) {
  display: flex;
  flex-flow: wrap-reverse;
  justify-content: center;
  align-items: center;
} */

.welcomeScreen {
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.chart-explanation {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 50%; */
  padding: 0 20px;
}

.chart-itself {
  /* background-color: var(--text); */
  color: white;
  display: flex;
  width: 70vw;
  justify-content: center;
  /* height: 10vh; */
  padding: 50px 20px;
  /* box-shadow: 5px 5px 0px var(--color1); */
}

.gender-chart-itself {
  width: 30vw;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .chart-explanation {
    width: 100%;
  }

  .chart-itself {
    width: 100%;
  }

  .image-div {
    display: none;
  }
}
