.sectionDiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  overflow: hidden;
}

.sectionDiv * {
  margin: 20px 20px;
  text-align: center;
}

#continueWithBrowser {
  color: var(--text);
}

@media (max-width: 768px) {
  .sectionDiv a {
    display: none;
  }
}
