@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Mitr&family=Overpass&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* 
    fonts: 
        font-family: "Cormorant Garamond", serif;
        font-family: "Ubuntu", sans-serif;
        font-family: "Mitr", sans-serif;
    Pallete:
        3d5a80
        98c1d9
        e0fbfc
        ee6c4d
        293241
*/
:root {
  --color1: #3d5a80;
  --color2: #98c1d9;
  --text: #e0fbfc;
  --nav: #ee6c4d;
  --bg: #293241;
}

body {
  font-family: "Mitr", sans-serif;
  background-color: #293241;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23323e50'/%3E%3Cstop offset='1' stop-color='%23323e50' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2334465f'/%3E%3Cstop offset='1' stop-color='%2334465f' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233d516f'/%3E%3Cstop offset='1' stop-color='%233d516f' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23293241'/%3E%3Cstop offset='1' stop-color='%23293241' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233C495F'/%3E%3Cstop offset='1' stop-color='%233C495F' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233D5A80'/%3E%3Cstop offset='1' stop-color='%233D5A80' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: var(--text);
  margin: 0;
  padding-bottom: 50px;
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;
}

p {
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  background-color: #98c1d9b4;
  position: fixed;
  bottom: 0;
  width: 100vw;
  justify-content: center;
  display: flex;
}

.navitem {
  padding: 10px;
  min-width: 200px;
  text-align: center;
  outline: none;
  border: none;
  font-family: "Mitr", sans-serif;
  text-decoration: none;
  color: rgb(36, 46, 56);
  transition-duration: 300ms;
}

.navitem:hover {
  background-color: var(--color1);
  color: var(--text);
}

.loginSignupBtn{
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar h6 {
    display: none;
  }
  .navitem {
    min-width: 25vw;
    max-width: 25vw;
    width: 25vw;
  }
}
